<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: linear-gradient(to bottom, #aa3518 0%, #f90840 50%, #4a6781 100%);
            background-attachment: fixed;
          }
          
          .wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          
            text-align: center;
            color: #140909;
          }
          
          .headline {
            font-size: 7.5vh;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            white-space: nowrap;
            color: inherit;
          
            strong {
              font-weight: 700;
            }
          }
          
          /**
           * CSS for responsive heart shape.
           * Basically it consists of two circles and a square.
           */
          .heart-shape {
            position: relative;
          
            display: inline-block;
            width: 25vh;
            height: 25vh;
            transform: rotate(45deg);
          
            margin-bottom: 6vh;
          
            background-color: currentColor;
          
            &:before,
            &:after {
              content: "";
          
              position: absolute;
              width: 100%;
              height: 100%;
          
              border-radius: 50%;
              background-color: currentColor;
            }
          
            &:before {
              bottom: 0;
              left: -50%;
            }
          
            &:after {
              top: -50%;
              right: 0;
            }
          }
          
    </style>
</head>
<body>
    <div class="wrap">
        <i class="heart-shape"></i>
        <h1 class="headline">    
           <strong>welcome</strong>
        </h1>
      </div>
</body>
</html>